<nav class="navbar text-bg-light border rounded-0 shadow-none align-items-start sidebar sidebar-dark accordion p-0 navbar-dark bg-white">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon">
                <i class="fas fa-user-lock text-dark"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
                <span class="text-dark">Safe Vault</span>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'passwords:passwords' %}">
                    <i class="fas fa-key fs-6 text-dark"></i>
                    <span class="text-dark">Пароли</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="google.com">
                    <i class="fas fa-id-card fs-6 text-dark"></i>
                    <span class="text-dark">Документы</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bankcards:bankcards' %}">
                    <i class="fas fa-credit-card fs-6 text-dark"></i>
                    <span class="text-dark">Банковские карты</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addresses:addresses' %}">
                    <i class="fas fa-map-marker-alt fs-6 text-dark"></i>
                    <span class="text-dark">Адреса</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'notes:notes' %}">
                    <i class="fas fa-sticky-note fs-6 text-dark"></i>
                    <span class="text-dark">Заметки</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="google.com">
                    <i class="fas fa-random fs-6 text-dark"></i>
                    <span class="text-dark">Генератор паролей</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="google.com">
                    <i class="fas fa-wrench fs-6 text-dark"></i>
                    <span class="text-dark">Настройки</span>
                </a>
            </li>
        </ul>
    </div>
</nav>