{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <title>SafeVault | Пароли</title>

    {% include 'head.html' %}
</head>

<body id="page-top">
<div id="wrapper">
    {% include 'sidebar.html' %}

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include 'navbar.html' %}

            <div class="container-fluid py-2 py-xl-2">
                <div class="card border rounded mb-3">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto col-xxl-auto col-auto">
                                <h2 class="text-dark mb-0" style="font-weight: bold;">Пароли</h2>
                            </div>
                            <div class="col-12 col-sm-12 col-md col-lg col-xl-auto col-xxl-auto col-auto">
                                <div class="btn-group" role="group">
                                    {% if status == '0' %}
                                        <a href="{% url 'passwords:passwords' %}?status=1" class="btn link-dark zoom ps-0 border-0 btn-favorite" role="button">
                                            <i class="far fa-star fs-4 align-text-bottom"></i>
                                        </a>
                                    {% elif status == '1' %}
                                        <a href="{% url 'passwords:passwords' %}?status=0" class="btn link-dark zoom ps-0 border-0 btn-favorite-undo" role="button">
                                            <i class="far fa-star fs-4 align-text-bottom"></i>
                                        </a>
                                    {% elif status == '2' %}
                                        <a href="" class="btn link-grey ps-0 border-0" role="button">
                                            <i class="far fa-star fs-4 align-text-bottom"></i>
                                        </a>
                                    {% endif %}

                                    {% if status == '0' %}
                                        <a href="{% url 'passwords:passwords' %}?status=2" class="btn link-dark zoom border-0 btn-trash" type="button">
                                            <i class="far fa-trash-alt fs-4 align-text-bottom"></i>
                                        </a>
                                    {% elif status == '1' %}
                                        <a href="" class="btn link-grey border-0" type="button">
                                            <i class="far fa-trash-alt fs-4 align-text-bottom"></i>
                                        </a>
                                    {% elif status == '2' %}
                                        <a href="{% url 'passwords:passwords' %}?status=0" class="btn link-dark zoom border-0 btn-trash-undo" type="button">
                                            <i class="far fa-trash-alt fs-4 align-text-bottom"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl col-xxl d-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-end justify-content-xxl-end me-0">
                                <div>
                                    {% if status == '2' %}
                                        <a class="btn btn-dark btn-sm my-1 ms-0 me-2 me-sm-1 disabled" role="button" href="#">
                                            <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp; Добавить
                                        </a>
                                    {% else %}
                                        <a class="btn btn-dark btn-sm my-1 ms-0 me-2 me-sm-1" role="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-add-password">
                                            <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp; Добавить
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-dark btn-sm my-1 mx-0 ms-sm-1" role="button" href="#">
                                        <i class="fas fa-file-export fa-sm text-white-50"></i>&nbsp; Экспорт
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-4 row-cols-xxl-5 p-2">
                            {% for password in passwords %}
                                <div class="col">
                                    <div class="card border rounded">
                                        <div class="card-header">
                                            <h5 class="text-dark mb-0 mt-1 record_password" data-init-vector="{{ password.init_vector }}">{{ password.title }}</h5>
                                            {% if password.website %}
                                                <a class="record_password" data-init-vector="{{ password.init_vector }}" href="{{ password.website }}">{{ password.website }}</a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body text-center py-4">
                                            <form>
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                                            <i class="fas fa-user text-dark"></i>
                                                        </span>
                                                    </div>
                                                    <input class="form-control record_password" type="text" readonly="" value="{{ password.login }}" data-init-vector="{{ password.init_vector }}" style="color: var(--bs-dark);">
                                                    <button class="btn btn-dark btn-copy" type="button">
                                                        <i class="far fa-copy"></i>
                                                    </button>
                                                </div>
                                                <div class="input-group input-group-sm mt-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                                            <i class="fas fa-key text-dark"></i>
                                                        </span>
                                                    </div>
                                                    <input class="form-control record_password" type="password" readonly="" value="{{ password.password }}" data-init-vector="{{ password.init_vector }}" style="color: var(--bs-dark);">
                                                    <button class="btn btn-dark btn-copy" type="button">
                                                        <i class="far fa-copy"></i>
                                                    </button>
                                                </div>
                                            </form>
                                            <hr>
                                            <div class="btn-group" role="group">
                                                {% if status == '0' %}
                                                    <button class="btn link-dark zoom border-0 btn-edit-password" type="button" data-bs-toggle="modal" data-bs-target="#modal-edit-password" data-id="{{ password.id }}" data-title="{{ password.title }}" data-website="{{ password.website }}" data-login="{{ password.login }}" data-email="{{ password.email }}" data-password="{{ password.password }}" data-extra-data="{{ password.extra_data }}" data-init-vector="{{ password.init_vector }}" data-status="{{ password.status }}">
                                                        <i class="fas fa-expand-alt fs-5"></i>
                                                    </button>

                                                    {% if password.status == 0 %}
                                                        <button class="btn link-dark zoom border-0 btn-favorite" type="button" onclick="updatePasswordStatus({{ password.id }}, 1)">
                                                            <i class="far fa-star fs-5"></i>
                                                        </button>
                                                    {% elif password.status == 1 %}
                                                        <button class="btn link-dark zoom border-0 btn-favorite-undo" type="button" onclick="updatePasswordStatus({{ password.id }}, 0)">
                                                            <i class="far fa-star fs-5"></i>
                                                        </button>
                                                    {% endif %}

                                                    <button class="btn link-dark zoom border-0 btn-trash" type="button" onclick="updatePasswordStatus({{ password.id }}, 2)">
                                                        <i class="far fa-trash-alt fs-5"></i>
                                                    </button>
                                                {% elif status == '1' %}
                                                    <button class="btn link-dark zoom border-0 btn-edit-password" type="button" data-bs-toggle="modal" data-bs-target="#modal-edit-password" data-id="{{ password.id }}" data-title="{{ password.title }}" data-website="{{ password.website }}" data-login="{{ password.login }}" data-email="{{ password.email }}" data-password="{{ password.password }}" data-extra-data="{{ password.extra_data }}" data-init-vector="{{ password.init_vector }}" data-status="{{ password.status }}">
                                                        <i class="fas fa-expand-alt fs-5"></i>
                                                    </button>

                                                    <button class="btn link-dark zoom border-0 btn-favorite-undo" type="button" onclick="updatePasswordStatus({{ password.id }}, 0)">
                                                        <i class="far fa-star fs-5"></i>
                                                    </button>

                                                    <button class="btn link-dark zoom border-0 btn-trash" type="button" onclick="updatePasswordStatus({{ password.id }}, 2)">
                                                        <i class="far fa-trash-alt fs-5"></i>
                                                    </button>
                                                {% else %}
                                                    <button class="btn link-grey border-0" type="button">
                                                        <i class="fas fa-expand-alt fs-5"></i>
                                                    </button>

                                                    <button class="btn link-dark zoom border-0 btn-trash-undo" type="button" onclick="updatePasswordStatus({{ password.id }}, 0)">
                                                        <i class="fas fa-trash-restore fs-5"></i>
                                                    </button>

                                                    <button class="btn link-dark zoom border-0 btn-trash" type="button" onclick="deletePassword({{ password.id }})">
                                                        <i class="far fa-trash-alt fs-5"></i>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info-1" class="dataTables_info" role="status" aria-live="polite">Показано {{ passwords.start_index }} до {{ passwords.end_index }} из {{ passwords.paginator.count }}</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        {% if passwords.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ passwords.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></span></li>
                                        {% endif %}

                                        {% for num in passwords.paginator.page_range %}
                                            {% if passwords.number == num %}
                                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                            {% elif num > passwords.number|add:'-3' and num < passwords.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if passwords.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ passwords.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link" aria-label="Next"><span aria-hidden="true">»</span></span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-add-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-black" style="font-weight: bold;">Добавление пароля</h4>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="id_form_add_password" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.title.id_for_label }}">{{ add_password_form.title.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        {{ add_password_form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.website.id_for_label }}">{{ add_password_form.website.label_tag }}</label>
                        {{ add_password_form.website }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.login.id_for_label }}">{{ add_password_form.login.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        {{ add_password_form.login }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.email.id_for_label }}">{{ add_password_form.email.label_tag }}</label>
                        {{ add_password_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.password.id_for_label }}">{{ add_password_form.password.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            {{ add_password_form.password }}
                            <button class="btn btn-dark" id="id_add_generate_password" type="button">
                                <i class="fa fa-gear"></i>
                            </button>
                        </div>
                        <small class="form-text" id="id_add_password_strength"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ add_password_form.extra_data.id_for_label }}">{{ add_password_form.extra_data.label_tag }}</label>
                        {{ add_password_form.extra_data }}
                    </div>
                    {{ add_password_form.init_vector }}
                    <input type="hidden" name="operation" value="add">
                    <div class="mb-3">
                        <div class="form-check">
                            {{ add_password_form.favorite }}
                            <label class="form-check-label text-dark" for="{{ add_password_form.favorite.id_for_label }}">{{ add_password_form.favorite.label_tag }}</label>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="text-dark"><span class="text-danger">*&nbsp;</span>- обязательные поля</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light border rounded" type="button" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-dark" type="submit">Выполнить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modal-edit-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-black" style="font-weight: bold;">Изменение пароля</h4>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="id_form_edit_password" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.title.id_for_label }}">{{ edit_password_form.title.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        {{ edit_password_form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.website.id_for_label }}">{{ edit_password_form.website.label_tag }}</label>
                        {{ edit_password_form.website }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.login.id_for_label }}">{{ edit_password_form.login.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        {{ edit_password_form.login }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.email.id_for_label }}">{{ edit_password_form.email.label_tag }}</label>
                        {{ edit_password_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.password.id_for_label }}">{{ edit_password_form.password.label_tag }}
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            {{ edit_password_form.password }}
                            <button class="btn btn-dark" id="id_edit_generate_password" type="button">
                                <i class="fa fa-gear"></i>
                            </button>
                        </div>
                        <small class="form-text" id="id_edit_password_strength"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="{{ edit_password_form.extra_data.id_for_label }}">{{ edit_password_form.extra_data.label_tag }}</label>
                        {{ edit_password_form.extra_data }}
                    </div>
                    {{ edit_password_form.init_vector }}
                    <input type="hidden" name="operation" value="edit">
                    <input type="hidden" name="id">
                    <div class="mb-3">
                        <div class="form-check">
                            {{ edit_password_form.favorite }}
                            <label class="form-check-label text-dark" for="{{ edit_password_form.favorite.id_for_label }}">{{ edit_password_form.favorite.label_tag }}</label>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="text-dark"><span class="text-danger">*&nbsp;</span>- обязательные поля</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light border rounded" type="button" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-dark" type="submit">Выполнить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'scripts.html' %}

<script src="{% static 'libraries/argon2-browser/dist/argon2-bundled.min.js' %}"></script>
<script src="{% static 'js/users.js' %}"></script>
<script src="{% static 'js/handlers/copyToClipboard.js' %}"></script>
<script src="{% static 'js/valid.js' %}"></script>
<script src="{% static 'js/passwords.js' %}"></script>
<script src="{% static 'js/handlers/passwords.js' %}"></script>
<script src="{% static 'js/encryption.js' %}"></script>
<script src="{% static 'js/pages/passwords.js' %}"></script>

<script>
    document.getElementById('user_email').textContent = getCookie('email');
</script>

{% if notification %}
    {% if notification.redirectUrl %}
        <script>{{ notification.func }}("{{ notification.text }}", "{{ notification.redirectUrl }}")</script>
    {% else %}
        <script>{{ notification.func }}("{{ notification.text }}")</script>
    {% endif %}
{% endif %}
</body>

</html>